
import(haven)
import(labelled)
import(vctrs)
importFrom("stats", "median", "na.omit")
importFrom("utils", "assignInNamespace")

export(
    as_mixed,
    is_mixed,
    mixed_labelled,
    unmix,
    
    order_labelled,
    sort_labelled,
    names_values,
    to_labels,

    tag,
    has_tag,
    get_tag,
    untag,
    isElement,
    is_tagged_string,
    format_tagged,
    order_tagged,
    sort_tagged,

    .onAttach
)


S3method(vec_ptype_full, mixed_labelled)

S3method(as_mixed, default)
S3method(as_mixed, haven_labelled)
S3method(as_mixed, data.frame)
S3method(unmix, default)
S3method(unmix, mixed_labelled)
S3method(unmix, data.frame)

S3method(na_values, mixed_labelled)
S3method(na_range, mixed_labelled)

# S3method("na_values<-", haven_labelled)
S3method("na_values<-", mixed_labelled)
S3method("na_range<-", mixed_labelled)


# S3method(c, mixed_labelled)
S3method(cbind, mixed_labelled)
S3method(mean, haven_labelled)
S3method(duplicated, haven_labelled)
S3method(duplicated, tagged)
S3method(unique, haven_labelled)
S3method(unique, tagged)
S3method(sort, tagged)
S3method(anyDuplicated, haven_labelled)

S3method(as_factor, mixed_labelled)
S3method(drop_unused_value_labels, mixed_labelled)

S3method("==", haven_labelled)
S3method("!=", haven_labelled)
S3method("<=", haven_labelled)
S3method("<", haven_labelled)
S3method(">=", haven_labelled)
S3method(">", haven_labelled)

S3method("==", tagged)
S3method("!=", tagged)
S3method("<=", tagged)
S3method("<", tagged)
S3method(">=", tagged)
S3method(">", tagged)


S3method(print, tagged)
S3method(format, tagged)


S3method("[<-", haven_labelled)

useDynLib(mixed, .registration = TRUE)
